#heading1 {
    color: red;
}


.container{
    display: flex;
    justify-content: space-between;
    border: 2px solid;
}
.navbar>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar>ul>li{
    padding: 5px 20px;
}
.res-card{
    /* border: 1px solid; */
    width: 250px;
    padding: 10px;
    margin: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}
.res-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:  50px 80px;

}

.res-image{
    width: 100%;
    height: 200px;
    border-radius: 20px;
}